<div align="center" style="max-width: 500px; margin:0 auto; margin-top: 50px;">
  [<a href="/">Home</a>] [<a href="/static/rules.html">Rules</a>] [<a href="/static/faq.html">FAQ</a>]
  <p>All trademarks and copyrights on this page are owned by their respective parties.</p>
</div>

<div style="float: right; margin-bottom: 25px;">
  <p style="font-size: 12px; text-align: right; padding-right: 5px;">v0.1.1</p>
  <span>Theme:</span>
  <select id="themeSwitcher" onchange="setTheme(this.options[this.selectedIndex].value)">
    {{ range .Themes }}
    <option value="{{.}}">{{.}}</option>
    {{ end }}
  </select>
</div>
