<div style="text-align: center; margin: 0 auto; width: 400px;">
  <h1>Manage /{{ .page.Board.Name }}/</h1>
  <form id="summary-form" action="/{{ .page.Key }}/{{ .page.Board.Name }}/editsummary" method="post" enctype="application/x-www-form-urlencoded" style="margin-top: 5px;">
    <input id="summary" name="summary" style="margin-bottom: 5px;" size="35" placeholder="{{ .page.Board.Actor.Summary }}"></input>
    <input type="submit" value="Update Summary"><br>
    <input type="hidden" name="actor" value="{{ .page.Board.Actor.Id }}">
  </form>
  <!-- <div><a href="/{{ .Key }}/deleteboard?name={{ .Board.Name }}">[Delete Board]</a></div> -->
  <ul style="display: inline-block; padding: 0;">
    {{ if .page.IsLocal }}
    <li style="display: inline-block;">[<a href="#following"> Subscribed </a>]</li>
    <li style="display: inline-block;">[<a href="#followers"> Subscribers </a>]</li>
    {{ end }}
    <li style="display: inline-block;">[<a href="#reported"> Reported </a>]</li>
    {{ if eq .page.Board.ModCred "admin" }}
    <li style="display: inline-block;">[<a href="#jannies"> Janitor Managment </a>]</li>
    {{ end }}
  </ul>
</div>
[<a href="/{{ .page.Board.Name }}">Return</a>]
{{ $actor := .page.Board.Actor.Id }}
{{ $board := .page.Board }}
{{ $key := .page.Key }}
{{ if .page.IsLocal }}
<div id="following" class="box2" style="margin-bottom: 25px; margin-top: 5px; padding: 12px;">
  <h4 style="margin: 0; margin-bottom: 5px;">Following</h4>
  [{{ if .page.AutoSubscribe }}<a title="Auto Follow is On" href="/autosubscribe?board={{ .page.Board.Name }}">Toggle Auto Follow Off{{ else }}<a title="Auto Follow is Off" href="/autosubscribe?board={{ .page.Board.Name }}">Toggle Auto Follow On{{ end }}</a>]
  <form id="follow-form" action="/{{ .page.Key }}/{{ .page.Board.Name }}/follow" method="post" enctype="application/x-www-form-urlencoded" style="margin-top: 5px;">
    <input id="follow" name="follow" style="margin-bottom: 5px;" size="35" placeholder="https://fchan.xyz/g"></input>
    <input type="submit" value="Follow"><br>
    <input type="hidden" name="actor" value="{{ $board.Actor.Id }}">
  </form>
  <div style="margin-bottom: 12px; color: grey;">also https://fchan.xyz/g/following or https://fchan.xyz/g/followers</div>
  <ul style="display: inline-block; padding: 0; margin: 0; list-style-type: none;">
    {{ range .page.Following }}
    <li>[<a href="/{{ $key }}/{{ $board.Name }}/follow?follow={{ . }}&actor={{ $actor }}">Unsubscribe</a>]<a href="{{ . }}">{{ . }}</a></li>
    {{ end }}
  </ul>
</div>

<div id="followers" class="box2" style="margin-bottom: 25px; padding: 12px;">
  <h4 style="margin: 0; margin-bottom: 5px;">Followers</h4>
  <ul style="display: inline-block; padding: 0; margin: 0; list-style-type: none;">
    {{ range .page.Followers }}
    <li><a href="{{ . }}">{{ . }}</a></li>
    {{ end }}
  </ul>
</div>
{{ end }}

<div id="reported" class="box2" style="margin-bottom: 25px; padding: 12px;">
  <h4 style="margin: 0; margin-bottom: 5px;">Reported</h4>
  <ul style="display: inline-block; padding: 0; margin: 0; list-style-type: none;">
    {{ $domain := .page.Domain }}
    {{ range .reports }}
    {{ range . }}
    <li style="padding: 12px;">
      <div style="margin-bottom: 5px;">{{ .Object.Updated | timeToReadableLong }}</div>
      <a id="rpost" post="{{ .ID }}" title="{{ parseLinkTitle .Actor.Outbox .OP .Object.Content}}" href="/{{ parseLink .Actor .ID }}">{{ shortURL .Actor.Outbox .ID }}</a> - <b>{{ .Count }}</b> [<a href="/delete?id={{ .ID }}&board={{ .Actor.Name }}&manage=t">Remove Post</a>] {{ if (index .Object.Attachment 0).Id }} [<a href="/banmedia?id={{ .ID }}&board={{ .Actor.Name }}">Ban Media</a>] [<a href="/deleteattach?id={{ .ID }}&board={{ .Actor.Name }}&manage=t">Remove Attachment</a>]{{ end }} [<a href="/report?id={{ .ID }}&close=1&board={{ .Actor.Name }}">Close</a>]
      <ul>
        {{ range .Reason }}
        <li>
          <span>"{{ . }}" </span>
        </li>
        {{ end }}
      </ul>
    </li>
    {{ end }}
    {{ end }}
  </ul>
</div>

{{ if eq .page.Board.ModCred "admin" }}
<div id="jannies" class="box2" style="margin-bottom: 25px; padding: 12px;">
  <h4 style="margin: 0; margin-bottom: 5px;">Janitor Managment</h4>
  <form id="janny-form" action="/{{ .page.Key }}/{{ .page.Board.Name }}/addjanny" method="post" enctype="application/x-www-form-urlencoded" style="margin-top: 5px;">
    <input id="label" name="label" style="margin-bottom: 5px;" size="35" placeholder="Label i.e Janny Alias"></input>
    <input type="submit" value="Add Janitor"><br>
    <input type="hidden" name="actor" value="{{ $board.Actor.Id }}">
  </form>
  <ul style="display: inline-block; padding: 0; margin: 0; list-style-type: none;">
    {{ range .jannies }}
    <li>{{ .Label }} - <b>Login:</b> {{ .Identifier }} <b>Code:</b> {{ .Code }} <a href="/{{ $key }}/{{ $board.Name }}/deletejanny?code={{ .Code }}">[Revoke]</a></li>
    {{ end }}
  </ul>
</div>
{{ end }}

{{ template "partials/footer" .page }}
{{ template "partials/general_scripts" .page }}
