{{ template "partials/top" .page }}

{{ $board := .page.Board }}
<hr>

<ul id="navlinks">
  {{ template "partials/post_nav" .page }}
  <li>[<a href="#bottom" id="top">Bottom</a>]</li>
</ul>

{{ template "partials/posts" .page }}

<hr>


<ul id="navlinks">
  {{ template "partials/post_nav" .page }}
  <li>[<a href="#top" id="bottom">Top</a>]</li>
</ul>

<hr>
{{ if gt .page.TotalPage 0 }}
{{ $totalPage := .page.TotalPage }}
<ul style="float: right; margin: 0; padding: 0; display: inline">
  {{ $page := .page.CurrentPage }}
  {{ if gt $page 0 }}
  <li style="display: inline">[<a href="/{{ $board.Name }}?page={{ sub $page 1 }}">&lt;</a>]</li>
  {{ end }}
  {{ range $i, $e := .page.Pages }}
  {{ if eq $i $page}}
  <li style="display: inline">[<a href="/{{ $board.Name }}?page={{ $i }}"><b>{{ $i }}</b></a>]</li>
  {{ else }}
  <li style="display: inline">[<a href="/{{ $board.Name }}?page={{ $i }}">{{ $i }}</a>]</li>
  {{ end }}
  {{ end }}
  {{ if lt .page.CurrentPage .page.TotalPage }}
  <li style="display: inline">[<a href="/{{ $board.Name }}?page={{ add $page 1 }}">&gt;</a>]</li>
  {{ end }}
</ul>
{{ end }}

{{ template "partials/bottom" .page }}
{{ template "partials/footer" .page }}
{{ template "partials/general_scripts" .page }}
{{ template "partials/post_scripts" .page }}
