<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">      
  <head>
  </head>
  <body>
    <div style="width: 200px; margin: 0 auto;">
      <form action="/verify" method="post">
        <label>Identifier</label>
        <input type="text" id="identifier" name="id" required><br>
        <label>Code</label>        
        <input type="text" id="verify" name="code" required><br>
        <input type="submit" value="Verify">      
      </form>
    </div>
  </body>
</html>
