{{ define "header" }}
<title>{{ .Title }}</title>
<meta name="description" content="{{ .PreferredUsername }} is a federated image board based on activitypub. The current version of the code running the server is still a work in progress, expect a bumpy ride for the time being. Get the server code here: https://github.com/FChannel0.">    

<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Board.Domain }}">
<meta property="og:site_name" content="{{ .Board.Actor.PreferredUsername }}" />

<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .PreferredUsername }} is a federated image board based on activitypub. The current version of the code running the server is still a work in progress, expect a bumpy ride for the time being. Get the server code here: https://github.com/FChannel0.">

<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ .PreferredUsername }} is a federated image board based on activitypub. The current version of the code running the server is still a work in progress, expect a bumpy ride for the time being. Get the server code here: https://github.com/FChannel0.">
<meta name="twitter:card" content="summary_large_image">

{{ end }}

{{ define "top" }}{{ end }}
{{ define "content" }}
<div style="text-align: center; max-width: 800px; margin: 0 auto;">
  <h1>{{ .Title }}</h1>
  <p style="text-align: justify">{{ .PreferredUsername }} is a federated image board based on activitypub. The current version of the code running the server is still a work in progress, expect a bumpy ride for the time being. Get the server code at <a href="https://github.com/FChannel0">https://github.com/FChannel0</a>.</p>
  
  <div style="margin-top:50px;">
    <div style="display: grid;border-right: 2px solid #820404">
      <div style="display: inline-grid;grid-column: 1 / 4;border-bottom: 2px solid #820404;border-left: 2px solid #820404;border-top: 2px solid #820404;"><span style="font-size: 1.5em;font-weight: bold;">Local boards</span></div>
    {{ range .Boards }}
      <div style="whitespace: nowrap;display: inline-grid;text-align: left;padding: 5px;border-bottom: 2px solid #820404;border-left: 2px solid #820404;"><a href="{{.Location}}"><b>{{.Name}}</b> - {{.PrefName}} {{ if not .Restricted }} [NSFW] {{ end }}</a></div>
    {{ end }}
    {{ range .BoardRemainer }}
      <div style="whitespace: nowrap;display: inline-grid;text-align: left;padding: 5px;border-bottom: 2px solid #820404;border-left: 2px solid #820404;"></div>
    {{ end }}
    </div>
  </div>
  
  {{ if .NewsItems }}  
  <div class="popup-box" style="margin-top:50px;">
    <table style="text-align: left; margin: 25px;">
    <th>
      <tr><h4><a href="/news">{{ .PreferredUsername }} News</a></h4></tr>
    </th>
    {{ range $i, $e := .NewsItems }}
    <tr>
      <td>{{ if $.Board.ModCred }}<a href="/{{ $.Key }}/newsdelete/{{ $e.Time }}">[Delete] </a>{{end}} 
      <a href="/news/{{.Time}}">{{unixtoreadable $e.Time}} - {{$e.Title}}</a>
      <br><p style="margin-left: 25px;">{{$e.Content}}</p>
      </td>
    </tr>
    {{ end }}
  </table>
  </div>
  {{ end }}  
  
  <div class="popup-box" style="margin-top:50px;">
  <table style="text-align: left; margin: 25px;">
    <th>
      <tr><h4>Current known instances</h4></tr>
    </th>

    {{ range .InstanceIndex }}
    <tr>
      <td><a href="{{ .Id }}">{{ .Id }}</a></td>
    </tr>
    {{ end }}
  </table>
  </div>
</div>
{{ end }}
{{ define "bottom" }}{{ end }}

{{ define "script" }}
{{ end }}
