{{ define "header" }}
<title>{{ .Title }}</title>
<meta name="description" content="{{ .PreferredUsername }} is a federated image board based on activitypub. The current version of the code running the server is still a work in progress, expect a bumpy ride for the time being. Get the server code here: https://github.com/FChannel0.">    

<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Board.Domain }}">
<meta property="og:site_name" content="{{ .Board.Actor.PreferredUsername }}" />

<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .PreferredUsername }} is a federated image board based on activitypub. The current version of the code running the server is still a work in progress, expect a bumpy ride for the time being. Get the server code here: https://github.com/FChannel0.">

<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ .PreferredUsername }} is a federated image board based on activitypub. The current version of the code running the server is still a work in progress, expect a bumpy ride for the time being. Get the server code here: https://github.com/FChannel0.">
<meta name="twitter:card" content="summary_large_image">

{{ end }}

{{ define "top" }}{{ end }}
{{ define "content" }}
<div style="text-align: center; max-width: 800px; margin: 0 auto;">
  <h1>{{ .Title }}</h1>
  <p style="text-align: justify">{{ .PreferredUsername }} is a federated image board based on activitypub. The current version of the code running the server is still a work in progress, expect a bumpy ride for the time being. Get the server code <a href="https://github.com/FChannel0">here</a>.</p>
  
  <div style="margin-top:50px;">
  <table align="center" style="text-align: left;">
    <th>
      <tr>Current known instances</tr>
    </th>

    {{ range .InstanceIndex }}
    <tr>
      <td><a href="{{ .Id }}">{{ .Id }}</a></td>
    </tr>
    {{ end }}
  </table>
  </div>
</div>
{{ end }}
{{ define "bottom" }}{{ end }}

{{ define "script" }}
{{ end }}
