{{ define "title" }}{{ .Title }}{{ end }}
{{ define "header" }}
<script src="/static/js/posts.js"></script>
{{ end }}
{{ define "top" }}{{ end }}
{{ define "content" }}
<div style="text-align: center; margin: 0 auto; width: 400px;">
  <h1>Manage /{{ .Board.Name }}/</h1>
  <!-- <div><a href="/{{ .Key }}/deleteboard?name={{ .Board.Name }}">[Delete Board]</a></div>     -->
  <ul style="display: inline-block; padding: 0;">
    {{ if .IsLocal }}
    <li style="display: inline-block;"><a href="#following">[ Subscribed ]</a></li>
    <li style="display: inline-block;"><a href="#followers">[ Subscribers ]</a></li>
    {{ end }}
    <li style="display: inline-block;"><a href="#reported">[ Reported ]</a></li>            
  </ul>
</div>    
<a href="/{{ .Board.Name }}">[Return]</a>
{{ $actor := .Board.Actor.Id }}
{{ $board := .Board }}
{{ $key := .Key }}
{{ if .IsLocal }}
<div id="following" class="popup-box" style="margin-bottom: 25px; margin-top: 5px; padding: 12px;">
  <h4 style="margin: 0; margin-bottom: 5px;">Following</h4>
  {{ if .AutoSubscribe }}<a title="Auto Follow is On" href="/autosubscribe?board={{ .Board.Name }}">[Toggle Auto Follow Off]{{ else }}<a title="Auto Follow is Off" href="/autosubscribe?board={{ .Board.Name }}">[Toggle Auto Follow On]{{ end }}</a>
  <form id="follow-form" action="/{{ .Key }}/{{ .Board.Name }}/follow" method="post" enctype="application/x-www-form-urlencoded" style="margin-top: 5px;">  
    <input id="follow" name="follow" style="margin-bottom: 5px;" size="35" placeholder="https://fchan.xyz/g"></input>
    <input type="submit" value="Follow"><br>
    <input type="hidden" name="actor" value="{{ $board.Actor.Id }}">            
  </form>
  <div style="margin-bottom: 12px; color: grey;">also https://fchan.xyz/g/following or https://fchan.xyz/g/followers</div>
  <ul style="display: inline-block; padding: 0; margin: 0; list-style-type: none;">
    {{ range .Following }}
    <li><a href="/{{ $key }}/{{ $board.Name }}/follow?follow={{ . }}&actor={{ $actor }}">[Unsubscribe]</a><a href="{{ . }}">{{ . }}</a></li>
    {{ end }}
  </ul>
</div>

<div id="followers" class="popup-box" style="margin-bottom: 25px; padding: 12px;">
  <h4 style="margin: 0; margin-bottom: 5px;">Followers</h4>
  <ul style="display: inline-block; padding: 0; margin: 0; list-style-type: none;">
    {{ range .Followers }}
    <li><a href="{{ . }}">{{ . }}</a></li>
    {{ end }}        
  </ul>      
</div>
{{ end }}

<div id="reported" class="popup-box" style="margin-bottom: 25px; padding: 12px;">
  <h4 style="margin: 0; margin-bottom: 5px;">Reported</h4>
  <ul style="display: inline-block; padding: 0; margin: 0; list-style-type: none;">
    {{ $domain := .Domain }}
    {{ range .Reported }}
    <li><a id="rpost" post="{{ .ID }}" href=""></a> - <b>{{ .Count }}</b><span> "{{ .Reason }}" </span> <a href="/delete?id={{ .ID }}&board={{ $board.Name }}&manage=t">[Remove Post]</a> <a href="/deleteattach?id={{ .ID }}&board={{ $board.Name }}&manage=t">[Remove Attachment]</a> <a href="/report?id={{ .ID }}&close=1&board={{ $board.Name }}">[Close]</a></li>
    {{ end }}
  </ul>            
</div>
{{ end }}
{{ define "bottom" }}{{ end }}

{{ define "script" }}
<script>
  var reported = document.querySelectorAll('#rpost');
  var reportedArray = [].slice.call(reported);

  reportedArray.forEach(function(r, i){
      var id = r.getAttribute("post")
      r.innerText = "/" + {{ .Board.Name }} + "/" + shortURL("{{ .Board.Actor.Id }}", id)
      r.href = {{ .Domain }} + "/" + {{ .Board.Name }} + "/" + shortURL("{{ .Board.Actor.Id }}", id)
  })  
</script>
{{ end }}
