{{ define "header" }}
<title>/{{ .Board.Name }}/ - {{ .PostId  }}</title>
<meta name="description" content="{{ (index .Posts 0).Content }}">
<meta property="og:url" content="{{ (index .Posts 0).Id }}">
<meta property="og:site_name" content="{{ .Instance.PreferredUsername }}" />

<meta property="og:title" content="{{ (index .Posts 0).Name }}">
<meta property="og:description" content="{{ (index .Posts 0).Content }}">

<meta name="twitter:title" content="{{ (index .Posts 0).Name }}">
<meta name="twitter:description" content="{{ (index .Posts 0).Content }}">
<meta name="twitter:card" content="summary_large_image">

{{ if (index .Posts 0).Preview }}
<meta property="og:image" content="{{ (index .Posts 0).Preview.Href }}" />
<meta name="twitter:image" content="{{ (index .Posts 0).Preview.Href }}" />
{{ end }}

<script src="/static/js/posts.js"></script>
{{ end }}

{{ define "content" }}
{{ $board := .Board }}

<hr>
<ul style="margin: 0; padding: 0; display: inline">
  <li style="display: inline"><a href="/{{ $board.Name }}">[Return]</a></li>
  <li style="display: inline"><a href="/{{ $board.Name }}/catalog">[Catalog]</a></li>      
  <li style="display: inline"><a href="#bottom">[Bottom]</a></li>
  <li style="display: inline"><a href="javascript:location.reload()">[Refresh]</a></li>
</ul>
<hr>

{{ template "posts" . }}

<hr>
<ul style="position: absolute; left: 5px;  margin: 0; padding: 0; display: inline">
  <li style="display: inline"><a href="/{{ $board.Name }}">[Return]</a></li>
  <li style="display: inline"><a href="/{{ $board.Name }}/catalog">[Catalog]</a></li>            
  <li style="display: inline"><a id="bottom" href="#top">[Top]</a></li>
  <li style="display: inline"><a href="javascript:location.reload()">[Refresh]</a></li>
  <li style="display: inline"><input id="autoreload-checkbox" type="checkbox" onclick="autoTimer()"> Auto refresh <span id="autoreload-countdown" style="visibility: hidden;">0</span></li>
</ul>
{{ $replies := (index .Posts 0).Replies }}            
<span style="float: right;">{{ $replies.TotalItems }} / {{ $replies.TotalImgs }}</span>
<div style="width: 500px; margin: 0 auto; text-align: center;">
  <span ><a id="reply-content" href="javascript:quote('{{ $board.Actor.Id }}', '{{ (index .Posts 0).Id }}', 'reply')">[Post a Reply]</a></span>
</div>
<hr>
{{ end }}

{{ define "script" }}
<script src="/static/js/footerscript.js"></script>
<script src="/static/js/timer.js"></script>
<script>
  viewLink("{{ .Board.Name }}", "{{ .Board.Actor.Id }}")
</script>    
{{ end }}
