{{ define "header" }}
<script src="/static/js/posts.js"></script>
{{ end }}


{{ define "content" }}
{{ $board := .Board }}
<hr>
<ul style="margin: 0; padding: 0; display: inline">
  <li style="display: inline"><a href="/{{ $board.Name }}/catalog">[Catalog]</a></li>      
  <li style="display: inline"><a href="#bottom">[Bottom]</a></li>
  <li style="display: inline"><a href="javascript:location.reload()">[Refresh]</a></li>
</ul>

{{ template "posts" . }}

<hr>
<ul style="margin: 0; padding: 0; display: inline">
  <li style="display: inline"><a href="/{{ $board.Name }}/catalog">[Catalog]</a></li>
  <li style="display: inline"><a id="bottom" href="#top">[Top]</a></li>
  <li style="display: inline"><a href="javascript:location.reload()">[Refresh]</a></li>
</ul>
<hr>
{{ if gt .TotalPage 0 }}
{{ $totalPage := .TotalPage }}
<ul style="float: right; margin: 0; padding: 0; display: inline">
  {{ $page := .CurrentPage }}      
  {{ if gt $page 0 }}
  <li style="display: inline"><button onclick="previous('{{$board.Name }}', '{{ $page }}')">Previous</button></li>
  {{ end }}
  {{ range $i, $e := .Pages }}
  {{ if eq $i $page}}
  <li style="display: inline"><a href="/{{ $board.Name }}/{{ $i }}"><b>[{{ $i }}]</b></a></li>
  {{ else }}
  <li style="display: inline"><a href="/{{ $board.Name }}/{{ $i }}">[{{ $i }}]</a></li>              
  {{ end }}
  {{ end }}
  {{ if lt .CurrentPage .TotalPage }}
  <li style="display: inline"><button onclick="next('{{ $board.Name }}','{{ $totalPage }}' ,'{{ $page }}')">next</button></li>
  {{ end }}
</ul>
{{ end }}
{{ end }}

{{ define "script" }}
<script src="/static/js/footerscript.js"></script>
<script>
  viewLink("{{ .Board.Name }}", "{{ .Board.Actor }}")

</script>    
{{ end }}
